{% extends "forum/forum_base.html" %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static "forum/forum.css" %}">
    <link rel="stylesheet" href="{% static "forum/article.css" %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="list-group mb-3">
    <div class="list-group-item border-white montserrat bg-light-dark">
      <div class="row px-1">
        <div class="col-1 col-half">
            <div class="img-div rounded">
              <img
                src="{{ article.author.userprofile.avatar.url }}"
                class="img-rounded rounded message-avatar"
                alt="{{ article.author.username }}"
              />
            </div>
        </div>
        <div class="col-90 mx-2">
          <h1 class="text-white">{{ article.header }}</h1>
        </div>
      </div>
      <div class="row">
        <p class="text-white">{{ article.text }}</p>
      </div>
      <div class="row justify-content-between">
        <div class="col-3">
            <div class="row">
                <div class="col-5">
                    <p class="text-green font-comment-sm">
                        {{ article.author.username }}
                    </p>
                </div>
                <div class="col-5">
                <p class="text-white font-comment-sm mb-auto mt-auto">
                    {{ article.date }}
                </p>
                </div>
            </div>
        </div>
      </div>
    </div>
    {% if user.is_authenticated %}
    <form class="form-inline" method="post" action="{% url 'forum:comment' article.id user.id %}">
        {% csrf_token %}
      <div class="form-group mb-2 mt-3">
        <div class="row">
          <div class="col-9 col-90">
            <input
              class="form-control"
              name="text"
              id="inputPassword2"
              placeholder="Ответ"
            />
          </div>
          <div class="col-2 col-10">
            <button type="submit" class="btn btn-primary mb-2">Ответить</button>
          </div>
        </div>
      </div>
    </form>
        {% else %}
        <div class="row">
            <p class="text-white mt-3 mb-3">
                <a class="underline hover-green" data-bs-toggle="modal" data-bs-target="#loginModal">Войдите</a>
             или
                <a class="underline hover-green" data-bs-toggle="modal" data-bs-target="#registerModal">зарегистрируйтесь</a>
             чтобы оставить комментарий</p>
        </div>
      {% endif %}
  </div>
  <h5 class="montserrat text-white">Ответы</h5>
  <div class="list-group"></div>
  {% for comment in article.comment_set.all%} {% if not comment.response_to %}
  <div class="list-group-item border-white montserrat bg-light-dark">
    {# comment start #}

    <div class="row px-1">
      <div class="col-sm-1 col-half">
          <div class="img-div-md rounded">
        <img
          src="{{ comment.author.userprofile.avatar.url }}"
          class="img-rounded rounded message-avatar"
          alt="{{ comment.author.username }}"
        />
          </div>
      </div>
      <div class="col-3 col-big">
        <div class="row">
          <p class="montserrat mb-comment font-comment-mid text-green">
            {{ comment.author.username }}
          </p>
        </div>
        <div class="row">
          <p class="text-white mb-comment">{{ comment.text }}</p>
        </div>
        <div class="row justify-content-between">
          <div class="col-3">
            <p class="text-white montserrat mb-comment font-comment-sm">
              {{ comment.date }}
            </p>
          </div>
          <div class="col-1">
              {% if user.is_authenticated %}
          <div class="list-group">
            <a
              href="#list-comment{{ forloop.counter }}"
              class="green-link font-comment-sm collapsed"
              data-bs-toggle="list"
              data-bs-target="#list-comment{{ forloop.counter }}"
              role="button"
              aria-expanded="false"
              aria-controls="list-comment{{ forloop.counter }}"
            >
              Ответить
            </a>
            </div>
                  {% endif %}
          </div>
        </div>
        {% if comment.comment_set %} 
        {% for response in comment.comment_set.all %}
        <hr />
        <div class="row px-3">
          <div class="col-1 col-half">
              <div class="img-div-sm rounded">
                <img
                  src="{{ response.author.userprofile.avatar.url }}"
                  class="img-rounded rounded message-avatar"
                  alt="{{ response.author.username }}"
                />
              </div>
          </div>
          <div class="col-3 col-big">
            <div class="row">
              <p class="montserrat mb-comment font-comment-mid text-green">
                {{ response.author.username }} {% if response.response_to_author %}в ответ {{ response.response_to_author.username }}{% endif %}
              </p>
            </div>
            <div class="row">
              <p class="text-white mb-comment">{{ response.text }}</p>
            </div>
            <div class="row justify-content-between">
              <div class="col-3">
                <p class="text-white montserrat mb-comment font-comment-sm">
                  {{ response.date }}
                </p>
              </div>
              <div class="col-1">
                  {% if user.is_authenticated %}
              <div class="list-group">
                <a
                  href="#collapseResponse{{ forloop.parentcounter }}{{ forloop.counter }}"
                  class="green-link font-comment-sm"
                  data-bs-toggle="list"
                  data-bs-target="#collapseResponse{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                  aria-controls="collapseResponse{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                  role="tab"
                >
                  Ответить
                </a>
                </div>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {# Comment response form #}
        <div class="row">
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade"
              id="list-comment{{ forloop.counter }}"
              role="tabpanel"
              aria-labelledby="list-home-list"
            >
                {% if user.is_authenticated %}
              <form class="form-inline" method="post" action="{% url 'forum:response' article.id user.id comment.id %}">
                  {% csrf_token %}
                <div class="form-group mb-2 mt-3">
                  <div class="row">
                    <div class="col-9 col-90">
                      <input
                        class="form-control"
                        name="text"
                        id="inputResponse{{ forloop.counter }}"
                        placeholder="Ответ"
                      />
                    </div>
                    <div class="col-2 col-10">
                      <button type="submit" class="btn btn-primary mb-2">
                        Ответить
                      </button>
                    </div>
                  </div>
                </div>
              </form>
                   {% endif %}
            </div>
          {# Response response form #}
            {% for response in comment.comment_set.all %}
            <div
              class="tab-pane fade"
              id="collapseResponse{{ forloop.parentloop.counter }}{{ forloop.counter }}"
              role="tabpanel"
            >
            {% if user.is_authenticated %}
              <form class="form-inline" method="post" action="{% url 'forum:response_reply' article.id user.id comment.id response.author.id %}">
                  {% csrf_token %}
                <div class="form-group mb-2 mt-3">
                  <div class="row">
                    <div class="col-9 col-90">
                      <input
                        class="form-control"
                        id="inputComment{{ forloop.parentloop.counter }}{{ forloop.counter }}"
                        name="text"
                        value="{{ response.author.username }}, "
                      />
                    </div>
                    <div class="col-2 col-10">
                      <button type="submit" class="btn btn-primary mb-2">
                        Ответить
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>

        {% endif %}
      </div>
    </div>

    {# comment end #}
  </div>
  {% endif %} {% endfor %}
</div>
> {% endblock %}
