{% extends "base.html" %}

{% block nav_battons %}
    {% if user.is_authenticated %}
       <div class="btn-group">
          <a href="{% url 'forum:profile' user.id %}" class="btn colour-green">
              <div class="row align-items-center">
                  <div class="col-7">
                          {{ user.username }}
                  </div>
                  <div class="col-5">
                    <img
                      src="{{ user.userprofile.avatar.url }}"
                      class="img-rounded rounded login-avatar mt-1 mb-1"
                      alt="{{ user.username }}"
                    />
                  </div>
              </div>
          </a>
          <button type="button" class="btn colour-green dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'forum:profile' user.id %}">Личный кабинет</a></li>
            <li><a class="dropdown-item" href="#">Последние посты</a></li>
              <li><a class="dropdown-item" href="#">Редактировать профиль</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'forum:logout' %}">Выйти</a></li>
          </ul>
        </div>
    {% else %}
        <button type="button" data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn-primary me-2" id="login-nav">Вход</button>
        <a href="{% url 'forum:register' %}" class="btn btn-primary">Регистрация</a>
    {% endif %}
{% endblock %}
{% block modal %}
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-dark">
        <div class="modal-header">
           <h2 class="text-white">Вход</h2>
        </div>
        <div class="modal-body">
        <form method="post" action="{% url "forum:login" %}">{% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1" class="montserrat mb-2 text-white">Имя пользователя</label>
            <input  type="text" class="form-control mb-2 montserrat" name="username" id="login_username" placeholder="Имя пользователя">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="montserrat mb-2 text-white">Пароль</label>
            <input type="password" class="form-control mb-2 montserrat" name="password" id="login_password" placeholder="Пароль">
          </div>
            <input type="text" name="url_from" value="{{ request.path }}" style="display: none">
          <button type="submit" class="btn btn-primary text-white">Войти</button>
        </form>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-dark">
        <div class="modal-header">
           <h2 class="text-white">Регистрация</h2>
        </div>
        <div class="modal-body">
        <form method="post" action="{% url 'forum:register' %}">{% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1" class="montserrat mb-2 text-white">Имя пользователя</label>
            <input class="form-control mb-2 montserrat" name="username" id="register_username" placeholder="Имя пользователя">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="montserrat mb-2 text-white">Пароль</label>
            <input type="password" class="form-control mb-2 montserrat" name="password" id="register_password" placeholder="Пароль">
          </div>
            <div class="form-group">
            <label for="exampleInputPassword1" class="montserrat mb-2 text-white">Пароль</label>
            <input type="password" class="form-control mb-2 montserrat" name="password_repeat" id="register_password" placeholder="Пароль еще раз">
          </div>
            <input type="text" name="url_from" value="{{ request.path }}" style="display: none">
          <button type="submit" class="btn btn-primary text-white">Войти</button>
        </form>
        </div>
    </div>
  </div>
</div>
{% endblock %}