{% extends "forum/forum_base.html" %}
{% block title %}
    Perfect World Forum
{% endblock %}

{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static "forum/forum.css" %}">
{%  endblock %}

{% block content %}
    {% load static %}
    <div class="position-relative overflow-hidden p-6 text-center bg-light" style="background: no-repeat top/100% url({% static 'main/img/main.jpg' %})">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Constanta Forum</h1>
      <p class="lead fw-normal">Perfect World server</p>
        {% if not user.is_authenticated %}
      <a class="btn colour-green" id="register-btn">Вход</a>
{#      <a class="btn btn-outline-secondary" href="#">Вход</a>#}
{#      <a class="btn btn-primary" id="register-btn">Регистрация</a>#}
      <a class="btn btn-primary" href="#">Регистрация</a>
        {% endif %}
    </div>
    </div>
    <ul class="nav justify-content-center bg-light-dark text-green shadow-meduza">
          <li class="nav-item mt-3 mb-3">
              <a class="btn colour-green" id="register-btn">Новые сообщения</a>
          </li>
            <li class="nav-item mt-auto mb-auto ms-2">
               <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Поиск по форуму" aria-label="Search">
        <button class="btn colour-green" type="submit">Поиск</button>
      </form>
            </li>
        </ul>
    <div class="container mt-4">
    <div class="accordion" id="sections">
    {% for section in sections %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ forloop.counter }}">
      <button class="accordion-button bg-light-dark text-white btn-green" type="button" data-bs-toggle="collapse" data-bs-target="#section-collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="section-collapse{{ forloop.counter }}">
        {{ section.name }}
      </button>
    </h2>
    <div id="section-collapse{{ forloop.counter }}" class="accordion-collapse collapse show" aria-labelledby="heading{{ forloop.counter }}">
      <div class="accordion-body bg-light-dark shadow-meduza">
      <div class="list-group">
          {% for subsection in section.subsection_set.all %}

              <div class="list-group-item border-white montserrat bg-light-dark">
              <div class="row">
                <div class="col-1">
                    <div class="d-flex h-100 justify-content-start align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bookmark-check-fill hover-grey white" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                    </svg>
                    </div>
                </div>
               <div class="col">
                   <a class="green-link" href="{% url "forum:subsection" subsection.id %}">
                  <h5 class="mb-1">{{ subsection.name }}</h5>
                    <p class="mb-1">{{ subsection.description }}</p>
                   </a>
               </div>
                  <div class="col">
               <div class="d-flex justify-content-end align-items-center h-100">
                   <div class="dropdown">
                       <a href="#" class="white hover-green" id="dropdownMenuButton{{ forloop.counter }}" data-bs-toggle="dropdown" aria-expanded="false">
                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                          <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        </svg>
                       </a>
                       <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton{{ forloop.counter }}">
                        <a class="dropdown-item" href="#">Последняя активность</a>
                      </div>
                   </div>
               </div>
                  </div>
                  {% if subsection.article_set.last.author.avatar %}
                      <div class="col-1">
                        <img src="{{ subsection.article_set.last.author.avatar.url }}" class="img-rounded img-avatar" alt="{{ subsection.article_set.last.author.nick }}">
                      </div>
                  {% endif %}
               <div class="col-2">

                   <div class="row white">
                       {{ subsection.article_set.last.author.nick }}
                   </div>
                   <div class="row white">
                       {{ subsection.article_set.last.date }}
                   </div>
               </div>
              </div>
              </div>

          {% endfor %}
      </div>
      </div>
    </div>
  </div>
    {% endfor %}
</div>
    </div>


{% endblock %}