{% extends "base.html" %}

{% block title %}
    Сервер Perfect World
{% endblock %}
{% block static %}
    {% load static %}
    <script defer src="{% static "main/js/main.js" %}"></script>
{% endblock %}
{% block content %}
    {% load static %}
    <div class="position-relative overflow-hidden p-6 text-center bg-light" style="background: no-repeat top/100% url({% static 'main/img/main.jpg' %})">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Perfect World</h1>
      <p class="lead fw-normal">Perfect World server</p>
      <a class="btn colour-green" id="register-btn">Регистрация</a>
{#      <a class="btn btn-outline-secondary" href="#">Скачать клиент</a>#}
{#      <a class="btn btn-primary" id="register-btn">Регистрация</a>#}
      <a class="btn btn-primary" href="#">Скачать клиент</a>
    </div>
    </div>
    <ul class="nav justify-content-center bg-light-dark text-green shadow-meduza">
      <li class="nav-item">
        <p class="nav-link"> PW SERVER</p>
      </li>
    </ul>
    <div class="container">
    <div class="row g-5 mt-4">
        <div class="col-md-5 col-lg-4 order-md-last">
            <p class="h3 text-white lovelace">Личный кабинет</p>
            <div class="d-grid gap-2">
                <button type="button" class="btn colour-green btn-lg">Войти</button>
                <button type="button" class="btn colour-white btn-lg">Регистрация</button>
            </div>
        </div>
        <div class="col-md-7 col-lg-8">
            <div class="row">
                <p class="h3 text-white lovelace">Новости</p>
                <div class="col-sm-6">
                <div class="card bg-light-dark shadow-meduza">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body text-white">
                    <h5 class="card-title montserrat">Новость 1</h5>
                    <p class="card-text">Какая-то новость</p>
                    <a href="#" class="underline hover-green">Подробнее</a>
                  </div>
                </div>
                </div>
                <div class="col-sm-6">
                <div class="card bg-light-dark shadow-meduza" >
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title montserrat text-white">Новость 2</h5>
                    <p class="card-text text-white">Еще какая-то новость</p>
                    <a href="#" class="btn colour-green">Подробнее</a>
                  </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container mt-4">
        <div class="row md-5 mt-5">
            <h1 class="mb-3 text-white" id="about-server">О сервере</h1>
            <ul class="list-group ms-4">
                <li class="text-white montserrat"><p>Лучший сервер рунета</p></li>
                <li class="text-white montserrat"><p>Интернета</p></li>
                <li class="text-white montserrat"><p>И даркнета</p></li>
            </ul>

        </div>
    </div>
{% endblock %}