.img-avatar {
    height: 50px;
    width: 50px;
    overflow: no-display;
}

.profile-avatar {
    width: 90%;
    height: auto;
    overflow: no-display;
}

.img-div {
    width: 4vw;
    overflow: hidden;
    height: 4vw;
}

.img-div-md {
    width: 3vw;
    overflow: hidden;
    height: 3vw;
}

.img-div-sm {
    width: 3vw;
    overflow: hidden;
    height: 3vw;
}