.img-avatar {
    height: 50px;
    width: 50px;
    overflow: no-display;
}

.profile-avatar {
    width: 90%;
    height: auto;
    overflow: no-display;
}

.img-div {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}