@font-face {
  font-family: Lovelace;
  src: url("../fonts/LovelaceText-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
}

body {
    font-family: Lovelace, serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1rem;
    border-top: 1px solid #42498A;
    color: #42498A;
    width: 100%;
    opacity: 1;
  }

.montserrat {
    font-family: Montserrat, serif;
}

.shadow-meduza {
    box-shadow: 0 0 1rem rgba(0,0,0,0.8)!important;
}

.lovelace {
    font-family: Lovelace, serif;
}

.hover-green {
    color: white;
}

.hover-green:hover {
    color: #92E28C;
}

.underline {
    text-decoration: none;
    padding-bottom:2px;
    border-bottom:1px solid white;
}

.underline:hover {
     border-bottom:1px solid #92E28C;
}

.bg-dark {
    background-color: #0E122E!important;
}

.bg-light-dark {
    background-color: #13173D!important;
}

a {
    font-family: Montserrat, serif;
}

p {
    font-family: Montserrat, serif;
}

.btn-primary {
    font-family: Montserrat, serif;
    background-color: #92E28C;
    border-color: #92E28C;
}

.btn-primary:hover {
    background-color: #92E28C;
    border-color: #6eb369;
}

.btn-primary {
    font-family: Montserrat, serif;
    background-color: #92E28C;
    border-color: #92E28C;
    color: #141414;
}

.btn-primary:hover {
    background-color: #6eb369;
    border-color: #6eb369;
    color: #141414;
}

.btn {
    border-radius: 4px;
}

.text-green {
   color: #92E28C;
}

.colour-green {
    color: #92E28C;
    border-color: #92E28C;
}

.colour-green:hover {
    background-color: #92E28C;
    border-color: #92E28C;
}

.white {
    color: white;
}

.hover-grey:hover {
    color: #5a5a5a;
}

.green-link {
    color: white;
    text-decoration: none;
}

.green-link:hover {
    color: #92E28C;
}

.colour-white {
    color: #ffffff;
    border-color: #ffffff;
}

.border-green {
    border-color: #92E28C;
}

.border-white {
    border-color: white;
}

.colour-white:hover {
    background-color: #ffffff;
    border-color: #ffffff;
}

.p-6 {
    padding: 5rem!important;
}

a {
    cursor: pointer;
}

.btn-primary:focus {
    background-color: #92E28C;
    border-color: #92E28C;
}

.login-avatar {
    width: 2rem;
    height: 2rem;
    overflow: hidden;
}

html {
    height: 100%;
}

.footer {
    margin-top: auto;
}

.text-small {
    font-size: 0.8rem;
}

.text-ultra-small {
    font-size: 0.5rem;
}

.height-20 {
    height: 20px;
}

.card {
    background-color: #13173D;
    color: #ffffff;
}

.list-group-item {
    color: #ffffff;
}

.accordion-item {
    background-color: #352e2e00;
}

.no-decoration {
    text-decoration: none;
}

.logo {
    height: 1.7rem;
}

.btn-danger {
    color: #141414;
    background-color: #fb3d50;
}

.card-img-top {
    max-height: 200px; 
    object-fit: cover;
}